# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Model files
*.pt
*.pth

# Dataset
ml/datasets/raw/

# Logs
*.log